<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>

{% include sidebar.html %}

<!-- Wrap is the content to shift when toggling the sidebar. We wrap the
     content to avoid any CSS collisions with our real content. -->
<div class="wrap">
  <div class="masthead">
    <div class="container">
      <h3 class="masthead-title">
        <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
        <small>{{ site.tagline }}</small>
      </h3>
    </div>
  </div>

  <div class="container content">
    {{ content }}
  </div>

  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">{{ site.description }}</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="{{ site.linkedin }}" target="_blank">Linkedin</a></li>
            <li><a href="{{ site.twitter }}" target="_blank">Twitter / X</a></li>
            <li><a href="{{ site.github.repo }}" target="_blank">Github</a></li>
            <!--<li><a href="{{ site.medium}}" target="_blank">Medium</a></li>-->
            <li><a href="{{ site.rss }}" target="_blank">RSS</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2024 All Rights Reserved</p>
        </div>
      </div>
    </div>
  </footer>

</div>

<label for="sidebar-checkbox" class="sidebar-toggle"></label>

<script>
  (function(document) {
    var toggle = document.querySelector('.sidebar-toggle');
    var sidebar = document.querySelector('#sidebar');
    var checkbox = document.querySelector('#sidebar-checkbox');

    document.addEventListener('click', function(e) {
      var target = e.target;

      if(!checkbox.checked ||
              sidebar.contains(target) ||
              (target === checkbox || target === toggle)) return;

      checkbox.checked = false;
    }, false);
  })(document);
</script>
</body>
</html>