---
layout: default
---

<div class="post">
 
  <h1 class="post-title"><a href="http://{{ site.url }}">Home</a> / {{ page.title }}</h1> 

  <div class="post-date">{{ page.date | date_to_string }} by <span class="post-author">{{ site.author.name }}</span>

  Tags:
  {% if post %}
    {% assign tags = post.tags %}
  {% else %}
    {% assign tags = page.tags %}
  {% endif %}
  {% for tag in tags %}
	<a href="/tags/#{{tag|slugize}}" class="post-tags-link">{{tag}}</a>{% unless forloop.last %},{% endunless %}
  {% endfor %}
  </span>

</div>
  
  {{ content }}
 
</div>

<div class="adsense">
	{% include google_adsense_post.html %}
</div>

<div class="related">
  <h2>Previous posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>